# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Dependências de Pacotes
/node_modules
/vendor

# Arquivos de Configuração de Ambiente
.env
.env.backup
.env.production
.env.*.bak
.env.testing
.env.local
.env.example
Homestead.json
Homestead.yaml

# Compilação e Build
/public/hot
/public/build/
/bootstrap/cache/
/storage/*.key
/storage/pail
/storage/app/public

# Arquivos de Log
*.log
npm-debug.log*
yarn-error.log*

# IDEs e Editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.fleet
/.nova
/.zed

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Cache e Artefatos de Build
/dist
/tmp
/out-tsc
/bazel-out
.phpunit.result.cache
.phpunit.cache
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Arquivos de Sistema e Diversos
.DS_Store
Thumbs.db
